<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="AgenciaPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>agenciav4.logica.Cliente</class>
    <class>agenciav4.logica.Venta</class>
    <class>agenciav4.logica.Paquete</class>
    <class>agenciav4.logica.Empleado</class>
    <class>agenciav4.logica.Servicio</class>
    <class>agenciav4.logica.Usuario</class>
    <class>agenciav4.logica.Persona</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/polo_agencia_v4?serverTimezone=UTC"/>
      <property name="javax.persistence.jdbc.user" value="usrpolo"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="12345"/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
